<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Specify HiltSampleApplication to bootstrap the Hilt injection container -->
    <application
        android:name="com.example.samplehilt.HiltSampleApplication"
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="FR Hilt Sample"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">

        <activity
            android:name="com.example.samplehilt.HiltMainActivity"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- FrameReady library auto-discovery via manifest metadata -->
        <provider
            android:name="com.frameready.FrameReadyProvider"
            android:authorities="${applicationId}.frameready"
            android:exported="false">
            <!-- Our post-frame initializer that integrates with Hilt -->
            <meta-data
                android:name="com.example.samplehilt.HiltPostFrameModuleInitializer"
                android:value="post_frame_initializer" />
        </provider>


    </application>

</manifest>
